/* section {
  position: relative;
  /* min-height: 100vh; 
  display: grid;
  place-items: center;
} */

/* section:nth-of-type(1) {
  height: 100vh;
}

section:nth-of-type(2) {
  height: 140vh;
} */

/* @keyframes menu_scale-up {
  to {
    scale: 1.5;
  }
}

@keyframes fade-away {
  to {
    opacity: 0;
  }
}

section {
  view-timeline: --scroll;
}

article:first-child {
  animation: fade-away both linear;
  animation-timeline: --scroll;
  animation-range: exit 20% exit 90%;
}

article:last-child {
  animation: scale-up both ease-in-out, fade-away both linear;
  animation-timeline: --scroll;
  animation-range: exit 0% exit 90%, exit 50% exit 90%;
} */
#menu-flotante {
  position: fixed;
  top: 85%;
  width: 30%;
  display: none; /* Ocultar inicialmente */
  background-color: #f0f0f0;
  z-index: 1000; /* Asegurar que esté sobre otros elementos */
  left: 34.5%;
  opacity: 0.8;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
}
