#menu-flotante {
  position: fixed;
  top: 83%;
  /* width: 40%; */
  background-color: #f0f0f0;
  z-index: 1000;
  left: 30%;
  opacity: 0.8;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
}
